<% include ../partials/portfolioheader.ejs %>
<link rel="stylesheet" href="/../stylesheets/main.css" type="text/css">

<div class="row text-center" style="display:flex flex-wrap:flex;">
     <% projects.forEach(function(projects) { %>        
        <div class="col-md-12"> 
       
            <div class="inner-container container">
	            <div class="project-image" style="background-image:url('<%= projects.image %>')">               
	            </div>
            </div>
            
        </div>
        <div class="row text-center">
	<div class="col-md-12">
		<div class="inner-container container">
		<a href="/project-list/<%=projects._id %>">
			<h4 class="h4brand"><%= projects.stack %></h4>
		</a>
	    <h3 class="h3brand lowercase"><%= projects.name %></h4>
	    </div>	    
	    <a class="btn btn-warning" href="/project-list/<%=projects._id%>/edit">Edit</a>
                    <form action="/project-list/<%=projects._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
	    <div class="inner-container container separator">
	    <hr>
	    </div>
    </div>
</div>  
    <% }); %>

</div>     

  