<% include ../partials/portfolioheader.ejs %>
<link rel="stylesheet" href="/../stylesheets/main.css" type="text/css">

<div class="container brief border">
	<div class="inner-container container ">
        <h1><a href="<%= project.link %>"><%= project.name %></a></h1>
        <h4 class="h4brand"><%= project.stack %></h4>
	</div>
</div>

<div class="row text-center" style="display:flex flex-wrap:flex;">   
      
        
<div class="row text-center">
	<div class="col-md-12">
		<div class="inner-container container">		
			<h3 class="h3brand">Project description</h3>		
	    <p><%= project.description %></p>
	    	</div>
        </div>	
<div class="col-md-12">        
        <div class="inner-container container helper-container">
				<a href="<%= project.link %>">
	            	<div class="inner-project-image" style="background-image:url('<%= project.pimage %>')"> 
						 
				    </div>
				</a>  
				
        </div>
            
</div>    
<div class="inner-container container separator">
	<hr>
</div>
</div>
</div>  	
            

<div class="container-fluid bordered">
	  <div class="container">
	  <h3>Are you interested in working with me?</h3>
	  <a class="project-button" href="mailto:mark-toth@outlook.com">I'm available for hire.<span></span></a>
	  	  </div>
</div>   
</div>


